<%- include('../partials/header.ejs', {pageTitle: 'Calendar'}); %>

<link rel="stylesheet" href="/public/css/calendar.css">

    <div class="mainContainer">
        <div class="content">
            <div id="controls">
                <input type="date" id="date-select">
                <button id="prev-week-btn" class=""><</button>
                <button id="next-week-btn">></button>
            </div>
            <br>
            <div id="day-headers">
                <% const daysOfTheWeek = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']; %>
                <% for (let i = 0; i < daysOfTheWeek.length; i++) { %>
                    <div class="day-header <%= (i === 0) ? 'first' : ''; %>">
                        <span class="day-text"><%= daysOfTheWeek[i] %></span>
                        <br>
                        <span class="date-text" id="date-text-<%= i %>"><%= i+1 %></span>
                    </div>
                <% } %>
            </div>

            <div id="grid">
                <div id="cells">
                    <% for (let i = 0; i < 7*24; i++) { %>
                        <div class="cell <%= (i % 7 === 0) ? 'first' : ''; %>" data-hour="<%= Math.floor(i / 7) %>">
                            <div class="inner-cell"></div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/clientJS/calendar.js"></script>

<%- include('../partials/footer.ejs') %>