<%- include('../partials/header.ejs', {pageTitle: 'About' }); %>

    <link rel="stylesheet" href="/public/css/home.css">

    <div class="mainContainer">
        <div class="content">
            <button onclick="updateName()">Change Event Name</button>
            <button onclick="updateDesc()">Change Event Description</button>
            <button onclick="deleteEvent()">DELETE current event</button>

            <center>
                <h1>page for <%= event.name %>
                </h1>
                <!--unbold the event description-->
                <h2 id="eventDescription">
                    <%= event.description %>
                </h2>

                
            </center>

            <script>
                function updateName() {
                    var newEventName = prompt('Do you want to change the event description? If yes, please enter the new description:');

                    if (newEventName) {
                        document.getElementById('eventNameInput').value = newEventName;
                        document.getElementById('eventNameForm').submit();
                    }

                    if (!newEventName) {
                        alert('No changes made.');
                    }
                }

                function updateDesc() {
                    var newEventDesc = prompt('Do you want to change the event description? If yes, please enter the new description:');

                    if (newEventDesc) {
                        document.getElementById('eventDescInput').value = newEventDesc;
                        document.getElementById('eventDescForm').submit();
                    }

                    if (!newEventDesc) {
                        alert('No changes made.');
                    }
                }

                function deleteEvent() {
                    var deleteEvent = confirm('Are you sure you want to delete this event?');

                    if (deleteEvent) {
                        document.getElementById('deleteEventForm').submit();
                    }

                    if (!deleteEvent) {
                        alert('Event not deleted.');
                    }
                }
            </script>
            <form id="eventDescForm" action="/event/eventPage/<%= event.uid %>" method="POST" style="display: none;">
                <input type="hidden" id="eventDescInput" name="newEventDesc">
            </form>
            <form id="eventNameForm" action="/event/eventPage/<%= event.uid %>" method="POST" style="display: none;">
                <input type="hidden" id="eventNameInput" name="newEventName">
            </form>
            <form id="deleteEventForm" action="/event/eventPage/<%= event.uid %>" method="POST" style="display: none;">
                <input type="hidden" name="deleteEvent">
            </form>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>